{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>create_task</title>
{% endblock meta %}

{% block content %}

<link rel="stylesheet" href="{% static 'create.css' %}" />

<div class = "create_task-box">
    <h1>Formulir Tambah Task</h1> 
    <form method="POST">
        {% csrf_token %}

        <div class="user-box">
            <input type="text" name="judul" required="">
            <label for="judul">Judul Task:</label>
        </div>

        <div class="user-box">
            <input type="text" name="deskripsi" required="">
            <label for="deskripsi">Deskripsi Task:</label>
        </div>

        <Center><button class="submit" type="text">Tambah</button></Center>
        <Center><button class="submit">
            <a href="{% url 'todolist:show_todolist' %}">Kembali</a>
        </button></Center>
    </form> 
</div>
{% endblock content %}