{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<link rel="stylesheet" href="{% static 'login.css' %}" />

<div class = "login-box">
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        
        <div class="user-box">
            <input type="text" name="username" required="">
            <label>Username</label>
        </div>

        <div class="user-box">
            <input type="password" name="password" required="">
            <label>Password</label>
        </div>

        <button class="submit" type="text">LOGIN</button>
        <a href="{% url 'todolist:register' %}">REGISTER</a>
    </form>
</div>
{% endblock content %}