{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>create_task</title>
{% endblock meta %}

{% block content %}
<link rel="stylesheet" href="{% static 'todolist.css' %}" />

<body>
    <nav class="topnav">
        <a>ToDo List ʕ•́ᴥ•̀ʔっ</a>
        <a>Username : {{request.user}}</a>
    </nav>

    <div class="container">
        {% for task in list_task %}
        <div class="card">
            <div class="content">
                <div class="headBx">
                    <h1>🦀 TASK CARD 🦀</h1>
                </div>

                <div class="contentBx">
                    <h2>Tanggal Pembuatan : {{task.date}}</h2>
                    <h2>Judul Task : {{task.title}}</h2>
                    <h2>Deskripsi : {{task.description}}</h2>
                    <h2>
                        Status :
                        {% if task.is_finished == True %}
                            Selesai
                        {% else %}
                            Belum Selesai
                        {% endif %} 
                    </h2>

                    <h2>
                        Ubah :
                        <button><a href="{% url 'todolist:delete_task' task.title %}">Hapus Task</a></button>
                        <button><a href="{% url 'todolist:status_update' task.title %}">Ubah Status</a></button>
                    </h2>
                </div>
                                    
                <Center>
                <div class="buttonBx">
                    <button class="submit"><a href="{% url 'todolist:create_task' %}">Tambah Task Baru</a></button><br>
                    <button class="submit"><a href="{% url 'todolist:logout' %}">Logout</a></button>
                </div>
                </Center>
            </div>
        </div>   
        {% endfor %}
    </div> 
</body>
{% endblock content %}