html {
    height: 100%;
}

body {
    margin:0;
    padding:0;
    height: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f77c1f36739301.572e381c424e3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.create_task-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    height: 600px;
    padding: 50px; 
    transform: translate(-50%, -50%);
    background: linear-gradient(#f4d3a2, #ddc479);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.create_task-box h1 {
    margin: 0 0 50px;
    padding: 0 0 30px;
    font-size: 35px;
    color: black;
    text-align: center;
}

.create_task-box .user-box {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    padding: 0 40px;
    margin-bottom: 30px;
    justify-content: center;      
}

.create_task-box .user-box input {
    width: 100%;
    padding: 10px 5px;
    font-size: 22px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-bottom: 40px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background: transparent;
    justify-content: center;
}

.create_task-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 40px;
    font-size: 20px;
    color: black;
    background-color: transparent;
    pointer-events: none;
    transition: .5s;
}

.create_task-box .user-box input:focus ~ label,
.create_task-box .user-box input:valid ~ label {
    top: -30px;
    left: 0;
    color: #000000;
    font-size: 18px;
}

.create_task-box button {
    background-color: transparent;
    border-radius: 100px;
    padding: 15px 80px;
    position: relative;
    display: flex;
    font-weight: bold;
    color: #040a0a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin: 20px;
    letter-spacing: 4px;
    justify-content: center; 
}

.create_task-box a {
    position: relative;
    display: flex;
    font-weight: bold;
    color: #040a0a;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin: auto;
    letter-spacing: 4px;
    justify-content: center;     
}

.create_task-box button:hover {
    background: #ffffff;
    font-weight: bold;
    border-radius: 200px;
    box-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 10px #ffffff,
                0 0 10px #ffffff;
}

.create_task-box a:hover {
    background: #ffffff;
    font-weight: bold;
    border-radius: 200px;
    box-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 10px #ffffff,
                0 0 10px #ffffff;
}