* {
	margin: 0;
	padding: 0;
}


body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    background-image: url(https://cdn.shopify.com/s/files/1/0153/0623/products/FlashdanceWallpaperinGrassisGreenerbyAnnaRedmondforAbnormalsAnonymous_1800x1800.jpg?v=1629910515);
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    padding:0;
}

.topnav {
    overflow: hidden;
    background: linear-gradient(hsl(176, 38%, 56%), #3ca68b);
}

.topnav a {
    color: black;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    padding: 100px;
    text-decoration: none;
}

.container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px;
}

.container .card {
	position: relative;
	width: 380px;
	height: 400px;
    background: linear-gradient(hsl(141, 59%, 63%), #30c29d);
	margin: 20px;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-10px);
}

.container .card .content .headBx {
    color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
	font-size: 12px;
	margin: 10px 0 30px;
	line-height: 1.1em;
}

.container .card .content .contentBx h2 {
	color: black;
	text-transform: capitalize;
	letter-spacing: 2px;
	font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container .card .content .contentBx h2 button {
    background-color: rgb(247, 250, 234);
    padding: 10px 12px;
    border-radius: 10px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.container .card .content .buttonBx button {
    background-color: beige;
    padding: 10px 20px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    margin: 10px;
}
  
.container .card .content .contentBx h2 button:hover {
    background: #ecbdfb;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 5px #ecbdfb,
                0 0 10px #ecbdfb,
                0 0 10px #ecbdfb,
                0 0 10px #ecbdfb;
}

.container .card .content .buttonBx button:hover {
    background: #ecbdfb;
    font-weight: bold;
    box-shadow: 0 0 5px #ecbdfb,
                0 0 10px #ecbdfb,
                0 0 10px #ecbdfb,
                0 0 10px #ecbdfb;
}
